# <!---- python ---->
torch
transformers
transformers[cuda]
transformers[question-answering]
transformers[text-generation]
numpy
matplotlib
scikit-learn
seaborn
spacy
docker
xonsh
playwright
langChain
jupyter
jupyterLab
requests
langchain[all]
numpy
matplotlib
pandas
scipy
scikit-learn
scikit-image
sympy
cython
g4f
wandb
openai
openai[embeddings]
openai[wandb]
openai[datalib]
cohere
# xturing
mysql
django[all]
litellm
mpi4py


# <!---- nvidia ---->
# conda install pytorch torchvision torchaudio pytorch-cuda=12.1 -c pytorch-nightly -c nvidia //windows - rtx/geforce + CONDA 
# py -m pip install nvidia-pyindex --extra-index-url https://pypi.ngc.nvidia.com
# py -m pip install nvidia-cuda-runtime-cu12
# bitsandbytes **os-specific**
# cuda **os-specific**
# llama-cpp-python
# llama-index
# localAI https://localai.io/basics/getting_started/index.html
# git+https://github.com/go-skynet/LocalAI.git
# git+https://github.com/xtekky/gpt4free.git

# <!---- gh_apps ---->
# git+https://github.com/jina-ai/langchain-serve.git

# <!---- windows11 ---->
# scoop for windows (drop-in apt-get replacement)
# WezTerm, kitty, windows terminal, etc. for windows

